
<ng-template #contextMenuItemsTemplate>
  <div class="context-menu">
    <ul>
      <li *ngFor="let item of menuItems" (click)="onMenuItemClick(item.action)">
        <app-svg-icon class="me-1" *ngIf="item.icon" [config]="setting.returnSvgConfig(item.icon,20)"></app-svg-icon>
        {{ item.label }}
      </li>
    </ul>
  </div>
</ng-template>
<app-expandable-panel ClickOutside (clickOutside)="closeContextMenu()" [content]="contextMenuItemsTemplate" [position]="position" [minWidth]="200" [borderColor]="'var(--primary-20)'"></app-expandable-panel>