.read-me-container{
    height: 100dvh;
    background-color: var(--gray-light-10);
    .main-title{
        background-color: var(--gray-light-10);
        padding: 2rem;
    }
    .read-me-texts{
        background-color: #fff;
        font-size: 1.1rem;
        line-height: 2;
    }

}