<div class="read-me-container">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-lg-7">
                <div class="d-flex justify-content-center h-100 flex-column read-me-texts">
                    <h5 class="mb-3">پروژه پیش رو تحت عنوان initial جهت استفاده به عنوان سورس اصلی با ویژگی های زیر تولید شده است:</h5>
                    <ul class="custom-list-style">
                        <li>رعایت معماری و فولدربندی استاندارد</li>
                        <li>استفاده از Variableهای مشخص جهت مدیریت رنگ بندی و فواصل</li>
                        <li>تعریف سه فونت پر کاربرد و مدرن</li>
                        <li>استفاده از کلاس‌های شخصی سازی شده جهت مدیریت buttonها، badgeها، dropdownها، datepickerها، فیلدهای فرم شامل inputها، checkboxها، radioButtonها، fileInputها و ...</li>
                        <li>استفاده از packageهای استاندارد جهت مدیریت پیغام‌‌ها، datepicker شمسی و ...</li>
                        <li>استفاده از bootstrap5.3 جهت مدیریت responsive و سایر قابلیت‌های آن</li>
                        <li>استفاده از bootstrap icons جهت مدیریت آیکن ها</li>
                        <li>ایجاد کامپوننت شخصی سازی شده جهت بهره برداری از آیکن‌های مدرن در فرمت svg</li>
                        <li>ایجاد کامپوننت و سرویس مرتبط جهت شبیه سازی قابلیت new tab مرورگرهایی مانند chrome</li>
                        <li>ایجاد کامپوننت شخصی سازی شده جهت مدیریت راست کلیک (context menu)</li>
                        <li>ایجاد کامپوننت تقویم شمسی قابل شخصی سازی</li>
                        <li>طراحی صفحه 404 <a routerLink="../spec-pages/error-404">به آدرس</a> و صفحه 401 <a routerLink="../spec-pages/error-401">به آدرس</a></li>
                    </ul>
                    <p>به جهت راحتی استفاده از کلاس‌ها، سرویس‌ها و کامپوننت‌های ایجاد شده، نمونه کدهای مرتبط <a style="font-size: 1.5rem; font-weight: 500;" routerLink="../sample">در این صفحه</a> قرار گرفته است.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <img src="../../../assets/images/programming.png" alt="programming" width="100%" />
                </div>
            </div>
        </div>
    </div>
</div>
