.icons{
    .icon-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--gray-light-80);
        border-radius: var(--borderRadiusSm);
        padding: var(--paddingSm);
        gap: var(--gapSm);
        color: var(--nutral-40);
    }
}

.custom-block-ui-template{
    .loading {
        width: 82px;
        height: 18px;
        position: relative;
        &:before,&:after{
            content: '';
            position: absolute;
            left: 50%;
            transform: translate(-50% , 10%);
            top: 0;
            background: var(--primary);
            width: 16px;
            height: 16px;
            border-radius: 50%;
            animation: jump 0.5s ease-in infinite alternate;
        }
        &:after{
             background: #0000;
            color: #fff;
            top: 100%;
            box-shadow: 32px -20px , -32px -20px;
            animation: split 0.5s ease-out infinite alternate;
        }
    }

    @keyframes split {
    0% { box-shadow: 8px -20px, -8px -20px}
    100% { box-shadow: 32px -20px , -32px -20px}
    }
    @keyframes jump {
    0% { transform: translate(-50% , -150%)}
    100% { transform: translate(-50% , 10%)}
    }
     
}
.slider-container{
    min-height: 200px;
    background-color: var(--bs-gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: 200px;
}


