:host{
    --color: var(--gray-light-80);
    --onColor:var(--nutral-30)
}
.custom-switch-style {
    height: 1.7rem;
    width: 3.5rem;
    position: relative;
    border: 1px solid var(--color);
    border-radius: 3rem;
    padding: 2px;
    
    .switch-state {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        &:before {
            position: absolute;
            height: 100%;
            aspect-ratio: 1 / 1;
            border-radius: calc(3rem - 2px);
            left: 0;
            background-color: var(--color);
            font-family: bootstrap-icons;
            content: '\F62A';
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--onColor);
            font-size: 1rem;
            transition: var(--transition);
        }
    }

    input{
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;

    }
    &:has(input:checked){
        &.primary{
            --color:var(--primary);
            --onColor:var(--onPrimary)
        }
        &.secondary{
            --color:var(--secondary);
            --onColor:var(--onSecondary)
        }
        &.success{
            --color:var(--success);
            --onColor:var(--onSecondary)
        }
        &.warning{
            --color:var(--warning);
            --onColor:var(--onWarning)
        }
        &.info{
            --color:var(--info);
            --onColor:var(--onInfo)
        }
        &.error{
            --color:var(--error);
            --onColor:var(--onError)
        }

        .switch-state{
            &:before{
                content: '\F272';
                transform: translateX(calc(100% + 8px));
            }
        }
    }
}