//======================== Variables ==================================

:root {
  //Primary

  --primary-5: #f6f6ff;
  --primary-10: #e5e4ff;
  --primary-20: #D1CFFF;
  --primary-30: #BCB9FF;
  --primary-40: #A8A4FF;
  --primary-50: #938EFF;
  --primary: #7F79FF;
  --primary-70: #6C67D9;
  --primary-80: #5955B3;
  --primary-90: #46438C;
  --primary-100: #333066;
  --onPrimary: #fff;
  --primaryLight: var(--primary-5);
  --onPrimaryLight: var(--nutral-60);
  --primaryHover: var(--primary-70);
  --onPrimaryHover: #fff;
  --primaryActive: var(--primary-80);
  --onPrimaryActive: #fff;


  //Secondary
  --secondary-5: #fef9f0;
  --secondary-10: #fdf2e0;
  --secondary-20: #FEE1B4;
  --secondary-30: #FDCC82;
  --secondary-40: #FBB74D;
  --secondary: #faa719;
  --secondary-60: #FA9819;
  --secondary-70: #F88E00;
  --secondary-80: #F37E00;
  --secondary-90: #EC6E00;
  --secondary-100: #E45401;
  --onSecondary: #fff;
  --secondaryHover: var(--secondary-70);
  --onSecondaryHover: #fff;
  --secondaryActive: var(--secondary-80);
  --onSecondaryActive: #fff;
  --secondaryLight: var(--secondary-5);
  --onSecondaryLight: var(--nutral-60);

  //Error
  --error-5: #fcecec;
  --error-10: #f8d8d8;
  --error-20: #F3B8B8;
  --error-30: #EE9999;
  --error-40: #E97979;
  --error-50: #E35A5A;
  --error: rgb(222, 58, 58);
  --error-70: #BD3131;
  --error-80: #9B2929;
  --error-90: #7A2020;
  --error-100: #591717;
  --onError: #fff;
  --errorHover: var(--error-70);
  --onErrorHover: #fff;
  --errorActive: var(--error-80);
  --onErrorActive: #fff;
  --errorLight: var(--error-5);
  --onErrorLight: var(--nutral-60);
  //Success
  --success-5: #eef7f2;
  --success-10: #E0F5E5;
  --success-20: #C0E8C8;
  --success-30: #9AD6A6;
  --success-40: #71C783;
  --success-50: #54BC6C;
  --success: #28a148;
  --success-70: #219341;
  --success-80: #148237;
  --success-90: #077D33;
  --success-100: #01521e;
  --onSuccess: #fff;
  --successHover: var(--success-70);
  --onSuccessHover:#fff;
  --successActive:var(--success-80);
  --onSuccessActive:#fff;
  --successLight:var(--success-5);
  --onSuccessLight:var(--nutral-60);

  //Info
  --info-5:  #f4f7fe;
  --info-10: #e6eeff;
  --info-20: #B1C7F8; 
  --info-30: #8EAEF5;
  --info-40: #6B95F1;
  --info-50: #487CEE;
  --info: #2563eb;
  --info-70: #1F54C8;
  --info-80: #1A45A5;
  --info-90: #143681;
  --info-100: #0F285E;
  --onInfo: #fff;
  --infoHover: var(--info-70);
  --onInfoHover: #fff;
  --infoActive: var(--info-80);
  --onInfoActive: #fff;
  --infoLight: var(--info-5);
  --onInfoLight: var(--nutral-60);

  //Warning
  --warning-5:#fffdf5;
  --warning-10: #FFF6D6;
  --warning-20: #FFEFB6;
  --warning-30: #FFE895;
  --warning-40: #FFE074;
  --warning-50: #FFD954;
  --warning: rgb(255, 210, 51);
  --warning-70: #ecc330; //TODO :: isEdited
  --warning-80: #e4bc2e; //TODO :: isEdited
  --warning-90: #dbb52c; //TODO :: isEdited
  --warning-100: #d1ad2c; //TODO :: isEdited
  --onWarning: #fff;
  --warningHover: var(--warning-70);
  --onWarningHover: var(--nutral-60);
  --warningActive: var(--warning-80);
  --onWarningActive: var(--nutral-60);
  --warningLight: var(--warning-5);
  --onWarningLight: var(--nutral-60);


  //GrayLight
  --gray-light-10: #FAFAFA;
  --gray-light-20: #F9F9F9;
  --gray-light-30: #F7F7F7;
  --gray-light-40: #F0F0F0;
  --gray-light-50: #EEEEEE;
  --gray-light-60: #EDEDED;
  --gray-light-70: #EBEBEB;
  --gray-light-80: #E7E7E7;
  --gray-light-90: #DFDFDF;
  --gray-light-100: #D9D9D9;
  //Nutral
  --nutral-10: #D2D2D2;
  --nutral-20: #ADADAD;
  --nutral-30: #898989;
  --nutral-40: #656565;
  --nutral-50: #404040;
  --nutral-60: #1C1C1C;
  --nutral-70: #181818;
  --nutral-80: #141414;
  --nutral-90: #0F0F0F;
  --nutral-100: #0B0B0B;
  //Icon
  --icon-light: #FFFFFF;
  --icon-dark: #4E4E4E;
  --icon-gray: #ADADAD;

  //Text
  --page-title: #0F0F0F;
  --section-title: #141414;
  --card-title: #141414;
  --body-text: #404040;
  --form-label: #404040;
  --primary-button-dark: #141414;
  --primary-button-light: #FFFFFF;
  --muted-text: #ADADAD;
  --helper-text-main-button: #656565;
  --error-message: #DE3A3A;
  --link: #006FFF;
  --placeholder: #c1c1c1;


  --surface: #fff;
  --onSurface: #161616;
  --disabled: #E0E0E0;
  --onDisabled: #A8A8A8;

  --borderRadiusXXs: 4px;
  --borderRadiusXs: 6px;
  --borderRadiusSm: 8px;
  --borderRadiusMd: 12px;
  --borderRadiusLg: 16px;
  --borderRadiusXL: 20px;
  --borderRadiusXXL: 24px;

  --paddingXXs: 0.15rem;
  --paddingXs: 0.25rem;
  --paddingSm: 0.5rem;
  --paddingMd: 0.75rem;
  --paddingLg: 1rem;
  --paddingXL: 1.25rem;
  --paddingXXL: 1.5rem;

  --marginXXs: 0.15rem;
  --marginXs: 0.25rem;
  --marginSm: 0.5rem;
  --marginMd: 0.75rem;
  --marginLg: 1rem;
  --marginXL: 1.25rem;
  --marginXXL: 1.5rem;

  --gapXs:0.25rem;
  --gapSm:0.5rem;
  --gapMd:0.75rem;
  --gapLg:1rem;
  --gapXL:1.25rem;
  --gapXXL:1.5rem;

  --transition: all ease 0.3s;

  --svg-stroke-color: var(--primary);
  --svg-icon-size: 24;
  --svg-icon-width: 24;
  --svg-icon-height: 24;

  --fontFamily:'Peyda'

}




// $theme :(
//     "primary": var(--primary),
//     "onPrimary": var(--onPrimary),
//     "primaryLight":var(--primaryLight),
//     "onPrimaryLight":var(--onPrimaryLight),
//     "primaryHover":var(--primaryHover),
//     "onPrimaryHover":var(--onPrimaryHover),
//     "primaryActive":var(--primaryActive),
//     "onPrimaryActive":var(--onPrimaryActive),
//     "primaryDisabled":var(--primaryDisabled),
//     "onPrimaryDisabled":var(--onPrimaryDisabled),
//     "primaryContainer":var(--primaryContainer),
//     "onPrimaryContainer":var(----onPrimaryContainer),
// );


// @each $text-name, $text-color in $theme{
//     .text-#{$text-name} {
//       color: $text-color !important;
//     }
// }
// @each $background-name, $background-color in $theme{
//     .background-#{$background-name} {
//       background-color: $background-color !important;
//     }
// }