.search-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid  var(--gray-light-100);
    border-radius:30px;
    padding: var(--paddingSm);
    width: 40px;
    height: 40px;
    transition: width ease 0.3s;
    input{
        background-color: transparent;
        border: none !important;
        padding: 0;
        height: 100%;
        max-width: 0;
        // transition: var(--transition);
        padding-top: var(--paddingSm);
        padding-bottom: var(--paddingSm);
        
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 1.2rem;
            width: 1.2rem;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--primary)" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            position: absolute;
            left: 0;
        }
    }
    &.visible{
        border-radius:var(--borderRadiusMd);
        width: 200px;
        input{
            max-width: 100%;
            padding-left: var(--paddingMd);
            padding-right: var(--paddingMd);
        }
    }
    &:focus-within{
        border-color: var(--primary);
    }
}